
html {
  background: url(./background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1, h2, h3, h4, h5, p, div, button, input, textarea {
    font-family: 'Monda', sans-serif;
    outline: none;
    font-size: 1.1em;
}
button, textarea {
    box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.75);
        border: 1px rgba(11, 9, 176,0.5) solid;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-39px;
}
.flex h3 {
    padding: 10px;
    font-size: 0.8em;
}
.resultsDiv {
    margin-top: 45px;
}
.resultsDiv h2 {
    text-align: center;
    font-size: 1.2em;
}
#slider {
opacity:0.5;
    background-image: linear-gradient(to right, #bd0437, #a70053, #93006a, #6f0084, #0b09b0);
}
textarea {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 100;
    width: 80%;
    height: 200px;
    margin:0;
    border-radius: 0;
    overflow-y:auto;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    cursor: default;

    font-size: 0.9em;
    font-family: 'Monda', sans-serif;
}
/* .backdrop {
    overflow: auto;

} */

.highlights {
    position: absolute;
    margin:0;
    border-radius: 0;
    top: 0;
    left: 10%;
    width:80%;
    height: 200px;
    border-width: 1px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
    font-size: inherit;
    font-family: inherit;
    border: 1px;
    padding: 2px;
    overflow-y:auto;
    border: 1px black solid;
    font-size: 0.9em;
    font-family: 'Monda', sans-serif;
}
mark.positive {
    color: transparent;
    /* background-color: #55D6BE; */
    background-color: rgba(11, 9, 176,0.2);


}
mark.negative {
    color: transparent;
    background-color: rgba(189, 4, 55,0.2);
    /* background-color: #EF6F6C; */
}
.container {
    position: relative;
    height: 200px;

}
p mark.positive {
    color: black;
}
p mark.negative {
    color: black;
}
.rephrasing {
    position: absolute;
    top: 180px;
    left:15%;
    width: 70%;
    z-index: 200;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.rephrasing h3, .rephrasing h4 {
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%;

}
.rephrasing h3 {
    margin-top: 5px;
}
.rephrasing p {
    font-size: 0.7em;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-bottom: 1px solid black;
    cursor: default;
    margin-top: -5px;
    margin-bottom: -5px;

}

.rephrasing span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.analysis-request {
    display:grid;
    grid-template-columns: 1fr 2fr;

    border-bottom: 1px black solid;
}
.analysis-request mark {
    width: 100%;
    color: black;

}
.analysis-request mark h4 {
    font-size: 0.7em;
    padding-left: 5px;
}
.analysis-request mark h3 {
    font-size: 0.7em;
}
.analysis-request h4 {
    font-size: 0.7em;
    padding-left: 5px;
}
.analysis-request  h3 {
    font-size: 0.7em;
}

.ref {
    height: 1px;
}
.header a, .navbar a {
    text-decoration: none;
    color: rgba(11, 9, 176,0.7)

}
.header a h4, .navbar a h4 {
    font-size: 0.8em;
    padding: 0px 8px 0px 8px;
}
.logo h2 {
    margin-top:10px;
    font-size: 1.5em;
    margin-left: 5px;
    color: rgba(11, 9, 176,0.7);
}
.logo h2 span {
    color: rgba(189, 4, 55,0.7);
}
.center {

    margin-top: 88px;
}
.center .submit button {
    width:135px;
margin: auto;
margin-top: 32px;
font-size: 0.7em;


}

footer p {
    font-size: 0.8em;
    text-align: center;
    margin-top: 40px;
}
footer p a {
    color: black;
}
.body {
    min-height: 95vh;
    position: relative;


}
footer {
    /* position: absolute;
    left: 0;
    right:0;
    bottom:0; */
    height: 30px;
    width: 100%;
    margin: auto;
    margin-top:5px;

/
}
.submit {
    display: flex;
    justify-content: center;
}
.more {
    text-align: center;
    margin-top:-5px;
}
.detailed-information{
    margin-top: -25px;
    margin-bottom:25px;
}
.detailed-information button {
    width: 210px;
    margin: 10px;
        font-size: 0.6em;

}
.details h3,  .details p {
    text-align: center;
    font-size: 0.8em;
}
.details h3 {
    text-decoration: underline;
    margin-bottom: -5px;
}

.more h4 {
    font-size: 0.9em;
}
.registration {
margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.registration h2 {
    font-size: 1.3em;
}


.registration input {
    margin-top: 10px;
    width: 30%;
    font-size: 0.9em;
    text-align: center;
}
.registration button {
    margin-top: 45px;
    margin-bottom: -5px;
    width: 15%;
    font-size: 0.8em;
    text-align: center;

}
.registration a {
    color: black;

    font-size: 0.8em;
}
.history {
    text-align: center;
}
.history h2 {
    font-size: 1.3em;
    text-decoration: underline;
}
.sentim-analysis-requests {
    width: 90%;
    border: 1px solid black;
    margin: auto;
}
.flexit {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.flexit h4 {
    font-size: 0.9em;
    margin-bottom: 4px;
}
.about h2 {
    text-align: center;
    font-size: 1.4em;
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top:40px;

}
.about p {
    font-size: 0.7em;
}
.about h5 {
    margin-bottom: 10px;
    margin-top: 10px;
}
